
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.jersey-10-reg {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-text-regular-italic {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: italic;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

/* Heading Text */
.bytesized-regular {
  font-family: "Bytesized", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Body Text */
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.badeen-display-regular {
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.kdam-thmor-pro-regular {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}