
#banner-logo {
    max-width: 400px;
    transform: rotate(4deg);
}

.content-container {
    width: 100%;
}

.footer {
    height: 150px;
    background: rgb(10, 5, 5);
}

@media (max-width: 496px) {
    
}