
.banner {
    height: 75vh;
    background: linear-gradient(200deg,  rgb(238, 130, 130) 0%, rgb(242, 94, 94) 75%);
    /* background: linear-gradient(200deg,  rgb(115, 115, 115) 0%, rgb(32, 32, 32) 75%); */
    /* background: linear-gradient(48deg,  rgb(180, 180, 180) 0%, rgb(255, 255, 255) 75%); */
}

#banner-logo {
    max-width: 400px;
    transform: rotate(4deg);
}

.content-container {
    width: 100%;
}

.content {
    max-width: 70%;
    letter-spacing: 1px;
    height: 500px;
    padding: 25px 45px 25px 45px;
}

.footer {
    height: 150px;
    background: rgb(10, 5, 5);
}
