.nav-menu-font {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.menu-container {
    position: sticky;
    top: 5px;
    height: auto;
    padding: 10px;
    background: #989987;
    z-index: 1200;
}

.nav-menu {
    /* Empty for now?*/
}

.menu-item::before {
    content: " ";
}

.menu-item:hover::before {
    content: ">"
}

.menu-item {
    margin: 0px 10px 0px 10px;
    padding: 5px;
    border-bottom: 2px solid #000000;
    color: white;
    font-size: 1.4em;
    letter-spacing: 2px;
    text-decoration: none;
    transition: transform 0.15s ease-in-out;
}

.menu-item:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.active-menu-item::before {
    content: ">"
}

.active-menu-item {
    color: White;
    background-color: #000000;
}

@media (max-width: 496px) {
    .menu-container {
        left: 0px;
        top: 0px;
    }

    .menu-item {
        font-size: 1.3em;
    }
}