html {
    display: block;
    padding: 0;
    margin: 0;
    background-color: #b8b9a5;
    color: #000000;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.banner {
    width: 100%;
    height: 50vh;
    justify-content: center;
}

.page-title-text {
    margin-left:15%;
    font-size: 90px;
    line-height:65px;
}

.title-cursor {
    display: inline-block;
    vertical-align: bottom;
    background-color: transparent;
    border: solid 6px;
    width: 0.3em;
    height: 0.5em;
    animation: cursor-blink;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 2, 1, 1.5);
}

.content-container {
    margin: 100px 0px 200px 0px;
}

.content {
    width: auto;
    max-width: 70%;
    height: 100%;
    padding: 25px 45px 25px 45px;
    background-color: #989987;
    letter-spacing: 1px;
    z-index:-1;
}

.game-gif-left {
    max-width: 45vw;
    z-index: -2;
}

.footer {
    height: 150px;
    background: rgb(10, 5, 5);
}

.page-footer-link {
    color: white;
    text-decoration: none;
}

@keyframes slide-in {
  from {
    color: transparent;
    transform: translateX(0%);
  }

  to {
    color: #221501;
    transform: translateX(100%);
  }
}

@keyframes cursor-blink {
    0% {
        border-color: black;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: black;
    }
}

@media (max-width: 496px) {
    .page-title-text {
        font-size: 60px;
        line-height: 44px
    }

    .title-cursor {
        /* TBD */
    }
}