.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-end {
    align-items: end;
}

.ml-sm {
    margin-left: 10px;
}

.p-sm {
    padding: 10px;
}

.p-m {
    padding: 15px;
}

.p-l {
    padding: 20px;
}

/* Font body heading */
.fbh {
  font-size: 30px;
  font-weight: 900; 
}

/* Font body */
.fb {
  font-size: 22px;
  font-weight: 600;
}

@media (max-width: 496px) {
    .fbh {
        font-size: 25px;
    }

    .fb {
        font-size: 20px;
    }
    
}